<%#
  Displays a header for card components
  
  Parameters:
  - title: The section title
  - icon: Optional icon name to display (will render from shared/icons/_icon_name.html.erb)
  - icon_class: Optional CSS classes for the icon
%>

<div class="px-4 sm:px-6 py-4 border-b border-gray-200">
  <div class="flex items-center">
    <% if local_assigns[:icon].present? %>
      <% icon_class = local_assigns[:icon_class] || "h-5 w-5 text-blue-600 mr-2" %>
      <%= render "shared/icons/#{icon}", class: icon_class rescue nil %>
    <% end %>
    
    <h3 class="text-lg font-medium text-gray-900">
      <%= title %>
    </h3>
    
    <% if block_given? %>
      <div class="ml-auto">
        <%= yield %>
      </div>
    <% end %>
  </div>
</div> 