<%# 
  Reusable CTA link with an arrow icon
  
  Required parameters:
  - href: Link destination 
  - text: Link text
  
  Optional parameters:
  - classes: Additional custom classes
%>

<% classes ||= "" %>

<a 
  href="<%= href %>" 
  class="inline-flex items-center gap-2 text-blue-600 hover:text-blue-700 font-medium group <%= classes %>"
>
  <%= text %>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 transition-transform group-hover:translate-x-1">
    <path d="M5 12h14"></path>
    <path d="m12 5 7 7-7 7"></path>
  </svg>
</a> 