<%# Feature section component for displaying a grid of features
   Required parameters:
   - title: Section heading text
   Optional parameters:
   - container_classes: Additional classes for the container (default: "")
   - grid_classes: Classes for the grid container (default: "grid grid-cols-1 md:grid-cols-3 gap-8")
   Block content should be the feature cards or content to be displayed
%>

<% container_classes ||= "" %>
<% grid_classes ||= "grid grid-cols-1 md:grid-cols-3 gap-8" %>

<section class="<%= container_classes %>">
  <%= render "shared/section_header", text: title %>
  
  <div class="<%= grid_classes %>">
    <%= yield %>
  </div>
</section> 