<%# 
  Partial for a single student submission, used for Turbo Stream broadcasts
  
  Parameters:
  - student_submission: The student submission to display
%>

<div id="<%= dom_id(student_submission) %>" class="submission-container">
  <%= render "student_submissions/submission_card", submission: student_submission %>
</div>

<% if respond_to?(:table_row) && table_row %>
  <%= render "student_submissions/table_row", submission: student_submission %>
<% end %> 