<%# Container for the student submissions list - TODO - do we need this? %>
<div id="submissions_list_container_<%= grading_task.id %>" class="mt-4">
  <% if student_submissions.any? %>
    <div id="student_submissions">
      <%= render "student_submissions/submission_list", student_submissions: student_submissions, grading_task: grading_task %>
    </div>
  <% else %>
    <div class="bg-gray-50 p-4 rounded-lg text-center">
      <p class="text-gray-500">No student submissions yet.</p>
      <p class="text-sm text-gray-400 mt-2">Submissions will appear here once they are created.</p>
    </div>
  <% end %>
</div> 