<%# Desktop navigation menu %>
<div class="hidden lg:flex lg:flex-1 lg:justify-end lg:items-center lg:space-x-8">
  <% if authenticated? %>
    <div class="flex items-center space-x-4">
      <%= render "shared/navbar/nav_links", mobile: false %>
    </div>
    <%= render "shared/navbar/auth_buttons", mobile: false %>
  <% else %>
    <%= render "shared/navbar/auth_buttons", mobile: false %>
  <% end %>
</div>
