<section id="grading_rubric_section_<%= grading_task.id %>" class="py-6">
  <h2 class="text-lg font-semibold text-gray-900 mb-4">Grading Rubric</h2>
  <% if grading_task.formatted_grading_rubric.present? %>
    <div class="prose prose-blue max-w-none">
      <%= grading_task.formatted_grading_rubric.html_safe %>
    </div>
  <% else %>
    <%= render "shared/loading_indicator", content: grading_task.grading_rubric %>
  <% end %>
</section> 