<%#
  Display a list of grading tasks in both mobile and desktop views
  
  Parameters:
  - tasks: Collection of grading task objects to display
%>

<!-- Mobile View (Card Layout) -->
<div class="sm:hidden">
  <div class="divide-y divide-gray-200">
    <% tasks.each do |task| %>
      <%= render "grading_tasks/task_card", task: task %>
    <% end %>
  </div>
</div>

<!-- Desktop View (Table Layout) -->
<div class="hidden sm:block overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead>
      <tr class="bg-gray-50">
        <th scope="col" class="py-4 pl-6 pr-3 text-left text-sm font-semibold text-gray-900">Assignment</th>
        <th scope="col" class="px-3 py-4 text-left text-sm font-semibold text-gray-900">Prompt</th>
        <th scope="col" class="px-3 py-4 text-left text-sm font-semibold text-gray-900">Created</th>
        <th scope="col" class="relative py-4 pl-3 pr-6 text-right">
          <span class="sr-only">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% tasks.each do |task| %>
        <%= render "grading_tasks/table_row", task: task %>
      <% end %>
    </tbody>
  </table>
</div> 